@page
@model WinkelwagenModel

@{
    ViewData["Title"] = "Winkel wagen";
}
<h1>@ViewData["Title"]</h1>

<table class="table" id="table">
    <tr>
        <th>Item</th>
        <th>Total Items</th>
        <th>Price per item</th>
        <th>Total Price</th>
        <th>Action</th>
    </tr>
    <form method="post" id="checkoutForm" asp-page-handler="Checkout">
        @Html.AntiForgeryToken()
        <input type="hidden" id="cartData" name="cart" />
        <button type="button" onclick="submitOrder()" class="btn btn-success">Checkout</button>
        <button type="button" onclick="clearCart()" class="btn btn-danger">Clear Cart</button>
    </form>

</table>
