@page
@model WinkelwagenModel

@{
    ViewData["Title"] = "Winkel wagen";
}
<h1>@ViewData["Title"]</h1>

<table class="table" id="table">
    <tr>
        <th>Item</th>
        <th>Total Items</th>
        <th>Price per item</th>
        <th>Total Price</th>
        <th>Action</th>
    </tr>
</table>
